<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>welcome to movie app</h2>
    <table>
        <th>
            <a href="/movies">Movie</a>
        </th>
        <th>
            <a href="/casts">Cast</a>
        </th>
        <th>
            <a href="/productionHouses">Production House</a>
        </th>
    </table>
</body>
</html>